@import "utilities/animation.scss";
@import "utilities/background.scss";
@import "utilities/display.scss";
@import "utilities/text.scss";
@import "utilities/border.scss";
@import "utilities/progress.scss";
@import "utilities/rotate.scss";

/* _border-width-customs.scss */
$border-width-custom-1: 1px !default;
$border-width-custom-2: 2px !default;
$border-width-custom-3: 3px !default;
$border-width-custom-4: 4px !default;
$border-width-custom-5: 5px !default;
$border-width-custom-6: 6px !default;
$border-width-custom-7: 7px !default;
$border-width-custom-8: 8px !default;

$border-width-customs: ("1": $border-width-custom-1, "2": $border-width-custom-2, "3": $border-width-custom-3, "4": $border-width-custom-4, "5": $border-width-custom-5, "6": $border-width-custom-6, "7": $border-width-custom-7, "8": $border-width-custom-8);

@each $name, $size in $border-width-customs {
    @each $var in '', 'top-', 'right-', 'bottom-', 'left-' {
        .border-#{$var}#{$name} { border-#{$var}width: $size !important; border-#{$var}style: solid; border-#{$var}color: $border-color;}
    }
}

$border-rounded-custom-1: 1em !default;
$border-rounded-custom-2: 2em !default;
$border-rounded-custom-3: 3em !default;
$border-rounded-custom-4: 4em !default;
$border-rounded-custom-5: 5em !default;
$border-rounded-custom-6: 6em !default;
$border-rounded-custom-7: 7em !default;
$border-rounded-custom-8: 8em !default;

$border-rounded-customs: ("1": $border-rounded-custom-1, "2": $border-rounded-custom-2, "3": $border-rounded-custom-3, "4": $border-rounded-custom-4, "5": $border-rounded-custom-5, "6": $border-rounded-custom-6, "7": $border-rounded-custom-7, "8": $border-rounded-custom-8);


@each $name, $size in $border-rounded-customs {
    @each $var in '', 'top-left-', 'top-right-', 'bottom-right-', 'bottom-left-' {
        .rounded-#{$var}#{$name} { border-#{$var}radius: $size !important;}
    }
}


.rotate-l-5 { transform: rotate(-5deg); }
.rotate-l-10 { transform: rotate(-10deg); }
.rotate-l-15 { transform: rotate(-15deg); }
.rotate-l-20 { transform: rotate(-20deg); }
.rotate-l-25 { transform: rotate(-25deg); }
.rotate-l-30 { transform: rotate(-30deg); }
.rotate-l-35 { transform: rotate(-35deg); }
.rotate-l-40 { transform: rotate(-40deg); }
.rotate-l-45 { transform: rotate(-45deg); }
.rotate-l-50 { transform: rotate(-50deg); }
.rotate-l-55 { transform: rotate(-55deg); }
.rotate-l-60 { transform: rotate(-60deg); }
.rotate-l-65 { transform: rotate(-65deg); }
.rotate-l-70 { transform: rotate(-70deg); }
.rotate-l-75 { transform: rotate(-75deg); }
.rotate-l-80 { transform: rotate(-80deg); }
.rotate-l-85 { transform: rotate(-85deg); }
.rotate-l-90 { transform: rotate(-90deg); }
.rotate-r-5 { transform: rotate(5deg); }
.rotate-r-10 { transform: rotate(10deg); }
.rotate-r-15 { transform: rotate(15deg); }
.rotate-r-20 { transform: rotate(20deg); }
.rotate-r-25 { transform: rotate(25deg); }
.rotate-r-30 { transform: rotate(30deg); }
.rotate-r-35 { transform: rotate(35deg); }
.rotate-r-40 { transform: rotate(40deg); }
.rotate-r-45 { transform: rotate(45deg); }
.rotate-r-50 { transform: rotate(50deg); }
.rotate-r-55 { transform: rotate(55deg); }
.rotate-r-60 { transform: rotate(60deg); }
.rotate-r-65 { transform: rotate(65deg); }
.rotate-r-70 { transform: rotate(70deg); }
.rotate-r-75 { transform: rotate(75deg); }
.rotate-r-80 { transform: rotate(80deg); }
.rotate-r-85 { transform: rotate(85deg); }
.rotate-r-90 { transform: rotate(90deg); }

@media (min-width: 576px) {
    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9 { right: 75%; }
    .col-sm-pull-8 { right: 66.66666667%; }
    .col-sm-pull-7 { right: 58.33333333%; }
    .col-sm-pull-6 { right: 50%; }
    .col-sm-pull-5 { right: 41.66666667%; }
    .col-sm-pull-4 { right: 33.33333333%; }
    .col-sm-pull-3 { right: 25%; }
    .col-sm-pull-2 { right: 16.66666667%; }
    .col-sm-pull-1 { right: 8.33333333%; }
    .col-sm-pull-0 { right: auto; }
    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9 { left: 75%; }
    .col-sm-push-8 { left: 66.66666667%; }
    .col-sm-push-7 { left: 58.33333333%; }
    .col-sm-push-6 { left: 50%; }
    .col-sm-push-5 { left: 41.66666667%; }
    .col-sm-push-4 { left: 33.33333333%; }
    .col-sm-push-3 { left: 25%; }
    .col-sm-push-2 { left: 16.66666667%; }
    .col-sm-push-1 { left: 8.33333333%; }
    .col-sm-push-0 { left: auto; }
    .rotate-sm-l-5 { transform: rotate(-5deg); }
    .rotate-sm-l-10 { transform: rotate(-10deg); }
    .rotate-sm-l-15 { transform: rotate(-15deg); }
    .rotate-sm-l-20 { transform: rotate(-20deg); }
    .rotate-sm-l-25 { transform: rotate(-25deg); }
    .rotate-sm-l-30 { transform: rotate(-30deg); }
    .rotate-sm-l-35 { transform: rotate(-35deg); }
    .rotate-sm-l-40 { transform: rotate(-40deg); }
    .rotate-sm-l-45 { transform: rotate(-45deg); }
    .rotate-sm-l-50 { transform: rotate(-50deg); }
    .rotate-sm-l-55 { transform: rotate(-55deg); }
    .rotate-sm-l-60 { transform: rotate(-60deg); }
    .rotate-sm-l-65 { transform: rotate(-65deg); }
    .rotate-sm-l-70 { transform: rotate(-70deg); }
    .rotate-sm-l-75 { transform: rotate(-75deg); }
    .rotate-sm-l-80 { transform: rotate(-80deg); }
    .rotate-sm-l-85 { transform: rotate(-85deg); }
    .rotate-sm-l-90 { transform: rotate(-90deg); }
    .rotate-sm-r-5 { transform: rotate(5deg); }
    .rotate-sm-r-10 { transform: rotate(10deg); }
    .rotate-sm-r-15 { transform: rotate(15deg); }
    .rotate-sm-r-20 { transform: rotate(20deg); }
    .rotate-sm-r-25 { transform: rotate(25deg); }
    .rotate-sm-r-30 { transform: rotate(30deg); }
    .rotate-sm-r-35 { transform: rotate(35deg); }
    .rotate-sm-r-40 { transform: rotate(40deg); }
    .rotate-sm-r-45 { transform: rotate(45deg); }
    .rotate-sm-r-50 { transform: rotate(50deg); }
    .rotate-sm-r-55 { transform: rotate(55deg); }
    .rotate-sm-r-60 { transform: rotate(60deg); }
    .rotate-sm-r-65 { transform: rotate(65deg); }
    .rotate-sm-r-70 { transform: rotate(70deg); }
    .rotate-sm-r-75 { transform: rotate(75deg); }
    .rotate-sm-r-80 { transform: rotate(80deg); }
    .rotate-sm-r-85 { transform: rotate(85deg); }
    .rotate-sm-r-90 { transform: rotate(90deg); }
}

@media (min-width: 768px) {
    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9 { right: 75%; }
    .col-md-pull-8 { right: 66.66666667%; }
    .col-md-pull-7 { right: 58.33333333%; }
    .col-md-pull-6 { right: 50%; }
    .col-md-pull-5 { right: 41.66666667%; }
    .col-md-pull-4 { right: 33.33333333%; }
    .col-md-pull-3 { right: 25%; }
    .col-md-pull-2 { right: 16.66666667%; }
    .col-md-pull-1 { right: 8.33333333%; }
    .col-md-pull-0 { right: auto; }
    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9 { left: 75%; }
    .col-md-push-8 { left: 66.66666667%; }
    .col-md-push-7 { left: 58.33333333%; }
    .col-md-push-6 { left: 50%; }
    .col-md-push-5 { left: 41.66666667%; }
    .col-md-push-4 { left: 33.33333333%; }
    .col-md-push-3 { left: 25%; }
    .col-md-push-2 { left: 16.66666667%; }
    .col-md-push-1 { left: 8.33333333%; }
    .col-md-push-0 { left: auto; }
    .rotate-md-l-5 { transform: rotate(-5deg); }
    .rotate-md-l-10 { transform: rotate(-10deg); }
    .rotate-md-l-15 { transform: rotate(-15deg); }
    .rotate-md-l-20 { transform: rotate(-20deg); }
    .rotate-md-l-25 { transform: rotate(-25deg); }
    .rotate-md-l-30 { transform: rotate(-30deg); }
    .rotate-md-l-35 { transform: rotate(-35deg); }
    .rotate-md-l-40 { transform: rotate(-40deg); }
    .rotate-md-l-45 { transform: rotate(-45deg); }
    .rotate-md-l-50 { transform: rotate(-50deg); }
    .rotate-md-l-55 { transform: rotate(-55deg); }
    .rotate-md-l-60 { transform: rotate(-60deg); }
    .rotate-md-l-65 { transform: rotate(-65deg); }
    .rotate-md-l-70 { transform: rotate(-70deg); }
    .rotate-md-l-75 { transform: rotate(-75deg); }
    .rotate-md-l-80 { transform: rotate(-80deg); }
    .rotate-md-l-85 { transform: rotate(-85deg); }
    .rotate-md-l-90 { transform: rotate(-90deg); }
    .rotate-md-r-5 { transform: rotate(5deg); }
    .rotate-md-r-10 { transform: rotate(10deg); }
    .rotate-md-r-15 { transform: rotate(15deg); }
    .rotate-md-r-20 { transform: rotate(20deg); }
    .rotate-md-r-25 { transform: rotate(25deg); }
    .rotate-md-r-30 { transform: rotate(30deg); }
    .rotate-md-r-35 { transform: rotate(35deg); }
    .rotate-md-r-40 { transform: rotate(40deg); }
    .rotate-md-r-45 { transform: rotate(45deg); }
    .rotate-md-r-50 { transform: rotate(50deg); }
    .rotate-md-r-55 { transform: rotate(55deg); }
    .rotate-md-r-60 { transform: rotate(60deg); }
    .rotate-md-r-65 { transform: rotate(65deg); }
    .rotate-md-r-70 { transform: rotate(70deg); }
    .rotate-md-r-75 { transform: rotate(75deg); }
    .rotate-md-r-80 { transform: rotate(80deg); }
    .rotate-md-r-85 { transform: rotate(85deg); }
    .rotate-md-r-90 { transform: rotate(90deg); }
}

@media (min-width: 992px) {
    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9 { right: 75%; }
    .col-lg-pull-8 { right: 66.66666667%; }
    .col-lg-pull-7 { right: 58.33333333%; }
    .col-lg-pull-6 { right: 50%; }
    .col-lg-pull-5 { right: 41.66666667%; }
    .col-lg-pull-4 { right: 33.33333333%; }
    .col-lg-pull-3 { right: 25%; }
    .col-lg-pull-2 { right: 16.66666667%; }
    .col-lg-pull-1 { right: 8.33333333%; }
    .col-lg-pull-0 { right: auto; }
    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9 { left: 75%; }
    .col-lg-push-8 { left: 66.66666667%; }
    .col-lg-push-7 { left: 58.33333333%; }
    .col-lg-push-6 { left: 50%; }
    .col-lg-push-5 { left: 41.66666667%; }
    .col-lg-push-4 { left: 33.33333333%; }
    .col-lg-push-3 { left: 25%; }
    .col-lg-push-2 { left: 16.66666667%; }
    .col-lg-push-1 { left: 8.33333333%; }
    .col-lg-push-0 { left: auto; }
    .rotate-lg-l-5 { transform: rotate(-5deg); }
    .rotate-lg-l-10 { transform: rotate(-10deg); }
    .rotate-lg-l-15 { transform: rotate(-15deg); }
    .rotate-lg-l-20 { transform: rotate(-20deg); }
    .rotate-lg-l-25 { transform: rotate(-25deg); }
    .rotate-lg-l-30 { transform: rotate(-30deg); }
    .rotate-lg-l-35 { transform: rotate(-35deg); }
    .rotate-lg-l-40 { transform: rotate(-40deg); }
    .rotate-lg-l-45 { transform: rotate(-45deg); }
    .rotate-lg-l-50 { transform: rotate(-50deg); }
    .rotate-lg-l-55 { transform: rotate(-55deg); }
    .rotate-lg-l-60 { transform: rotate(-60deg); }
    .rotate-lg-l-65 { transform: rotate(-65deg); }
    .rotate-lg-l-70 { transform: rotate(-70deg); }
    .rotate-lg-l-75 { transform: rotate(-75deg); }
    .rotate-lg-l-80 { transform: rotate(-80deg); }
    .rotate-lg-l-85 { transform: rotate(-85deg); }
    .rotate-lg-l-90 { transform: rotate(-90deg); }
    .rotate-lg-r-5 { transform: rotate(5deg); }
    .rotate-lg-r-10 { transform: rotate(10deg); }
    .rotate-lg-r-15 { transform: rotate(15deg); }
    .rotate-lg-r-20 { transform: rotate(20deg); }
    .rotate-lg-r-25 { transform: rotate(25deg); }
    .rotate-lg-r-30 { transform: rotate(30deg); }
    .rotate-lg-r-35 { transform: rotate(35deg); }
    .rotate-lg-r-40 { transform: rotate(40deg); }
    .rotate-lg-r-45 { transform: rotate(45deg); }
    .rotate-lg-r-50 { transform: rotate(50deg); }
    .rotate-lg-r-55 { transform: rotate(55deg); }
    .rotate-lg-r-60 { transform: rotate(60deg); }
    .rotate-lg-r-65 { transform: rotate(65deg); }
    .rotate-lg-r-70 { transform: rotate(70deg); }
    .rotate-lg-r-75 { transform: rotate(75deg); }
    .rotate-lg-r-80 { transform: rotate(80deg); }
    .rotate-lg-r-85 { transform: rotate(85deg); }
    .rotate-lg-r-90 { transform: rotate(90deg); }
}

@media (min-width: 1200px) {
    .col-xl-pull-12 { right: 100%; }
    .col-xl-pull-11 { right: 91.66666667%; }
    .col-xl-pull-10 { right: 83.33333333%; }
    .col-xl-pull-9 { right: 75%; }
    .col-xl-pull-8 { right: 66.66666667%; }
    .col-xl-pull-7 { right: 58.33333333%; }
    .col-xl-pull-6 { right: 50%; }
    .col-xl-pull-5 { right: 41.66666667%; }
    .col-xl-pull-4 { right: 33.33333333%; }
    .col-xl-pull-3 { right: 25%; }
    .col-xl-pull-2 { right: 16.66666667%; }
    .col-xl-pull-1 { right: 8.33333333%; }
    .col-xl-pull-0 { right: auto; }
    .col-xl-push-12 { left: 100%; }
    .col-xl-push-11 { left: 91.66666667%; }
    .col-xl-push-10 { left: 83.33333333%; }
    .col-xl-push-9 { left: 75%; }
    .col-xl-push-8 { left: 66.66666667%; }
    .col-xl-push-7 { left: 58.33333333%; }
    .col-xl-push-6 { left: 50%; }
    .col-xl-push-5 { left: 41.66666667%; }
    .col-xl-push-4 { left: 33.33333333%; }
    .col-xl-push-3 { left: 25%; }
    .col-xl-push-2 { left: 16.66666667%; }
    .col-xl-push-1 { left: 8.33333333%; }
    .col-xl-push-0 { left: auto; }
    .rotate-xl-l-5 { transform: rotate(-5deg); }
    .rotate-xl-l-10 { transform: rotate(-10deg); }
    .rotate-xl-l-15 { transform: rotate(-15deg); }
    .rotate-xl-l-20 { transform: rotate(-20deg); }
    .rotate-xl-l-25 { transform: rotate(-25deg); }
    .rotate-xl-l-30 { transform: rotate(-30deg); }
    .rotate-xl-l-35 { transform: rotate(-35deg); }
    .rotate-xl-l-40 { transform: rotate(-40deg); }
    .rotate-xl-l-45 { transform: rotate(-45deg); }
    .rotate-xl-l-50 { transform: rotate(-50deg); }
    .rotate-xl-l-55 { transform: rotate(-55deg); }
    .rotate-xl-l-60 { transform: rotate(-60deg); }
    .rotate-xl-l-65 { transform: rotate(-65deg); }
    .rotate-xl-l-70 { transform: rotate(-70deg); }
    .rotate-xl-l-75 { transform: rotate(-75deg); }
    .rotate-xl-l-80 { transform: rotate(-80deg); }
    .rotate-xl-l-85 { transform: rotate(-85deg); }
    .rotate-xl-l-90 { transform: rotate(-90deg); }
    .rotate-xl-r-5 { transform: rotate(5deg); }
    .rotate-xl-r-10 { transform: rotate(10deg); }
    .rotate-xl-r-15 { transform: rotate(15deg); }
    .rotate-xl-r-20 { transform: rotate(20deg); }
    .rotate-xl-r-25 { transform: rotate(25deg); }
    .rotate-xl-r-30 { transform: rotate(30deg); }
    .rotate-xl-r-35 { transform: rotate(35deg); }
    .rotate-xl-r-40 { transform: rotate(40deg); }
    .rotate-xl-r-45 { transform: rotate(45deg); }
    .rotate-xl-r-50 { transform: rotate(50deg); }
    .rotate-xl-r-55 { transform: rotate(55deg); }
    .rotate-xl-r-60 { transform: rotate(60deg); }
    .rotate-xl-r-65 { transform: rotate(65deg); }
    .rotate-xl-r-70 { transform: rotate(70deg); }
    .rotate-xl-r-75 { transform: rotate(75deg); }
    .rotate-xl-r-80 { transform: rotate(80deg); }
    .rotate-xl-r-85 { transform: rotate(85deg); }
    .rotate-xl-r-90 { transform: rotate(90deg); }
}
