$primary: #990726;
$secondary: #660926;
$thirdColor: #a39b98;
$text-color: #5d4037;

$brand-primary:$primary;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');


.f-15{    font-size: 15px !important;}
.f-16{    font-size: 16px !important;}
.f-light{ font-weight: normal;}
.pointer{cursor: pointer;}


.primary-c{
    color: $primary !important;
}
.primary-g{
    color: #777777;
}

.higher{
    font-size: 150%;
}

.colour-white{
    color: white !important;
}

body{
    background-color: $thirdColor;
    font-family: 'PT Serif', serif;
    color: $text-color;
    font-weight: 400;
    padding-bottom: 30px;
}

.header{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    img{
        max-width: 100%;
    }
}

.panel-grey{
    background-color: #eeeeee;
}

.hidden-element {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -5px);
}

.show {
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate(0, 0);
}

.description {
    font-size: 20px;
    padding: 40px 20px;
    @media (max-width: 600px) {
        font-size: 14px;
        padding: 20px 0px;
    }

    &.description-small{
        font-size: 18px;
        line-height: 24px;
        padding: 30px 20px;

        @media (max-width: 600px) {
            font-size: 10px;
            line-height: 16px;
            padding: 20px 0px;
        }
    }

    &.description-xsmall{
        font-size: 16px;
        line-height: 22px;
        padding: 30px 20px;

        @media (max-width: 600px) {
            font-size: 10px;
            line-height: 16px;
            padding: 20px 0px;
        }
    }
}

.ac-custom {
    width: 100%;
    display: flex;
    justify-content: center;
    &.ac-block{
        display: block;
    }
    ul, li{
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
    li{
        margin: 0 auto;
        padding: 1em 0;
        position: relative;

    }
    label{
        display: inline-block;
        position: relative;
        font-size: 20px;
        padding: 0 10px 0 80px;
        vertical-align: top;
        color: $text-color;
        cursor: pointer;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        strong{
            color: $primary
        }

        @media (max-width: 600px) {
            padding: 0 10px 0 60px;
            font-size: 14px;
        }
    }


    input[type="checkbox"], input[type="radio"], label::before {
        width: 50px;
        height: 50px;
        top: 50%;
        left: 0;
        margin-top: -25px;
        position: absolute;
        cursor: pointer;
        @media (max-width: 600px) {
            width: 40px;
            height: 40px;
            margin-top: -15px;
        }
    }


    input[type="checkbox"],  input[type="radio"] {
        opacity: 0;
        -webkit-appearance: none;
        display: inline-block;
        vertical-align: middle;
        z-index: 100;
    }

    label::before {
        content: '';
        border: 4px solid #fff;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    &.ac-radio {
        label::before {
            border-radius: 50%;
        }
    }

    input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
        color: $primary;
    }

    input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
        opacity: 0.8;
    }

    svg {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        left: 5px;
        pointer-events: none;

        @media (max-width: 600px) {
            width: 30px;
            height: 30px;
            margin-top: -10px;
        }

        path {
            stroke: $primary;
            stroke-width: 13px;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
        }
    }
}

.progressbar-container{
    width: 600px;
    margin: 0 auto;

    #progressbar {
        margin-top: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        margin-left: -40px;
        &.duo{
            margin-left: 90px;
        }
        &.trio{
            margin-left: 75px;
            //margin-left: 125px;
        }

        &.fivefold{
            li{
                width: 20%;
            }
        }

        li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            width: 25%;
            float: left;
            position: relative;
            text-align: center;

            &:before {
                content: counter(step);
                counter-increment: step;
                width: 25px;
                line-height: 25px;
                display: block;
                font-size: 12px;
                color: #333;
                background: #f3f3f3;
                border-radius: 20px;
                margin: 0 auto 5px auto;
            }
            &:after {
                content: '';
                width: 100%;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: -50%;
                top: 9px;
                z-index: -1; /*put it behind the numbers*/
            }
            &:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }
        }
    }
    #progressbar li.active:before,  #progressbar li.active:after{
        background: $text-color;
        color: white;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}
hr{
    margin-top: 0px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(243, 243, 243, 0.5);
}
.question{
    margin-bottom: 30px;
    label{
        font-size: 20px;
        padding: 0px 5px;
    }
    input, select{
        display: block;
        margin: 0;
        padding: 3px  3px 10px 3px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #f5f5f5;
        background-color: transparent;
        color: $text-color;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0;

        &:focus{
            outline: none;
            border-bottom: 2px solid white;
        }
        &::-webkit-input-placeholder{
            color: rgba(245, 245, 245, 0.7);
        }
    }
    select{
        margin-top: 12px;
        option{
            color: $thirdColor;
        }
    }

    .ac-custom{
        li{
            padding: 10px 0 0 0;
        }
        label{
            padding: 0 0 0 60px;
        }
        svg{
            width: 30px;
            height: 30px;
        }
        input[type="checkbox"], input[type="radio"], label::before {
            width: 40px;
            height: 40px;
        }
    }
}

.guardian-container{
    background-color: $secondary;
    display: none;
    h2{
        margin-bottom: 30px;
    }
    margin-bottom: 30px;
}

label.error{
    color: $primary;
    font-size: 12px;
    display: block;
    &:before{
        content: none;
    }
}
.no-errors{
    label.error{
        display: none !important;
    }
}
.guardian-container{
    label.error{
        color: $thirdColor;
    }
}

/* Switch view animation (we hide the current view, switch the view class and show it again) */
section{
    visibility: hidden;
    opacity: 0;
    display: none;
}
section.active {
    display: inherit;
    animation: animFadeIn 0.5s forwards;
}

@keyframes animFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

section.active .question {
    animation: animMove 0.5s;
}

@keyframes animMove {
    from { top: 100px; }
}

.active {
    visibility: visible !important;
}

.popover {
    max-width: 550px;
    .popover-content {
        background-color: $text-color;
        color: $primary;
    }
}

.no-flex{
    display: inherit;
}

.area{
    label {
        &:hover {
            color: $primary;
        }
    }
}
.area-description{
    font-size: 18px;
    display: none;
    .teaser{
        line-height: 24px;
        @media (max-width: 600px) {
            line-height: 14px;
        }
    }

    div{
        clear: both;

        img{
            float: left;
            padding: 0px 20px 10px 0px;
        }
        h2 {
            margin: 0px 0px 20px 0px;
            font-size: 22px;
            @media (max-width: 600px) {
                font-size: 14px;
            }
            small {
                padding: 0px;
                font-size: 70%;
                padding-bottom: 10px;
                display: inline-block;
            }
            span{
                margin-bottom: 10px;
            }
        }
        h3{
            margin-top: 0px;
            @media (max-width: 600px) {
                font-size: 14px;
            }
        }
        &.double{
            h2:nth-of-type(2) {
                font-size: 22px;
                @media (max-width: 600px) {
                    font-size: 14px;
                }
                margin: 0px;
            }

            img:nth-of-type(2){
                float: right;
                padding: 0px 0px 10px 20px;
            }
            h3:nth-of-type(1){
                margin-bottom: 10px;
            }

            h2:nth-of-type(3){
                text-align: right;
                font-size: 22px;
                @media (max-width: 600px) {
                    font-size: 14px;
                }
                margin: 0px;
            }
            h3:nth-of-type(2){
                text-align: right;
            }
        }
    }

    ul,li{
        padding: 0px;
        list-style: square;
    }
    a{
        &:hover{
            text-decoration:none;
        }
        @media (max-width: 600px) {
            font-size: 12px;
        }
    }
    table{
        font-size:12px;
        th{
            text-transform: uppercase;
        }
        td,th{
            vertical-align: middle !important;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }
    strong{
        color: $primary;
    }

    @media (max-width: 600px) {
        p{

            font-size: 12px;
        }
        h4{
            font-size: 12px;
        }
        div img{
            max-width: 40%;
            padding: 0px 10px 10px 0px;
        }
    }
}

.date-description{
    color: $primary;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.slideout-btn{
    position: fixed;
    right: -45px;
    top: 40%;
    transform: rotate(270deg);
    @media (max-width: 600px) {
        display: none;
    }
}

.slideout {
    @media (max-width: 600px) {
        display: none;
    }

    border: 2px solid $secondary;
    border-radius: 3px;
    position: fixed;
    top: 100px;
    right: -520px;
    width: 500px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    .slideout-close{
        position: absolute;
        left: -15px;
        top: -15px;
        z-index: 99;
        font-size: 24px;
        line-height: 24px;
        color: $primary;
        border: 3px solid $primary;
        border-radius: 50%;
        padding: 0 3px;
        cursor:pointer;
    }

    form {
        display: block;
        padding: 20px;
    }

    textarea {
        display:block;
        height: 100px;
        margin-bottom: 6px;
        width: 250px;
    }

    &.on {
        right: 0;
    }
}

.uploader{
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.uploader input{
    position: absolute;
    top: 20px;
    opacity: 0;

    &#image_files{
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
